.BigBox {
	background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 10px;
}
.wrapper {
    margin: 0;
    padding: 0;


}
.Box1 {
    background-color: coral;
}

.Box2 {
    background-color: coral;
}

.Box3 {
    background-color: coral;
}

.Box4 {
    background-color: coral;
}